.container{
    border: 5px solid black;
}
.row{
    border: 3px solid red; 
}
.pink{
    background: pink;
    font-size: 22px;

}
.orange{
    background:orange;

}
.blue{
    background:#007bff;
    font-size: 18px;

}
.green{
    background:yellowgreen;
    font-size: 12px;

}
